.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.headerPart {
  background-color: #031D48;
}

.text-orange {
  color: #FFB805
}

.recipe-image {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}

.card-img {
  height: 250px;
  object-fit: cover;
}

.card {
  height: 440px;
}

.card2 {
  height: 280px;
}

h5 {
  color: #031D48;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 23px;
}

.header-title {
  color: #031D48;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

.bg-grey {
  background-color: #fff;
}

.shadow-box {
  background-color: #fafafa;
  padding: 16px 16px 0 16px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.ingredient-box {
  background-color: #fafafa;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.steps {
  color: #FFB805;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 15px;
}

.primary-button {
  border-radius: 40px;
  background-color: #031D48;
  padding: 16px;
  border: none;
  color: #fff;
  font-weight: bold;
}

.success-button {
  border-radius: 40px;
  background-color: #2DAA33;
  border: none;
  padding: 16px;
  color: #fff;
  font-weight: bold;
}

.recipe-nav {
  position: absolute;
  top: 32px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

.logo {
  width: 200px;
  color: white;
}

.cover {
  object-fit: cover;
}

.recipecard2 {
  max-height: 120px;
}

.dropdown {
  border-radius: 1px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2)
}

.background-blue {
  background-color: #031D48;
}

.text {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 29px;
  text-align: center;
}
